/AbstractForm.class
/Circle.class
/Comments.class
/GeometricalForm.class
/IllegalPositionException.class
/Line.class
/MoveToUpperLeftCorner$BigFirst.class
/MoveToUpperLeftCorner$DrawingArea.class
/MoveToUpperLeftCorner.class
/Oval.class
/Point.class
/Rectangle.class
/Square.class
/ThickPoint.class
/TracePoint.class
